
<footer>

	<div class="container">
		<div class="row ">
			<div class="col-md-3 col-xs-6 clearfix">
				<img src="http://placehold.it/48x48" alt="Free delivery" class="pull-left">
				<h6>FREE DELIVERY</h6>
				<p>On Order Above $680.00</p>
			</div>
			<div class="col-md-3 col-xs-6 clearfix">
				<img src="http://placehold.it/48x48" alt="Money Back" class="pull-left">
				<h6>100% MONEY BACK</h6>
				<p>30 Day Money Back Guarantee</p>
			</div>
			<div class="col-md-3 col-xs-6 clearfix">
				<img src="http://placehold.it/48x48" alt="Call to order" class="pull-left">
				<h6>CALL TO ORDER</h6>
				<p>Call Phone: 123 789 456</p>
			</div>
			<div class="col-md-3 col-xs-6 clearfix">
				<img src="http://placehold.it/48x48" alt="Online Support" class="pull-left">
				<h6>ONLINE SUPPORT</h6>
				<p>24/7 Free Support</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 clearfix">
				<div class="logo">
					<a href="#">
						<img src="http://placehold.it/119x26" alt="Logo">
					</a>
					<p>Premium Bike Store</p>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
					mattis eros. Nullam malesuada erat ut turpis. Donec odio. Quisque volutpat mattis eros.
				</p>
				<ul class="social">
					<li><a href="#" class="facebook"><i class="zmdi zmdi-facebook"></i></a></li><li>
					<a href="#" class="twitter"><i class="zmdi zmdi-twitter"></i></a></li><li>
					<a href="#" class="googleplus"><i class="zmdi zmdi-google-old"></i></a></li><li>
					<a href="#" class="skype"><i class="zmdi zmdi-skype"></i></a></li><li>
					<a href="#" class="youtube"><i class="zmdi zmdi-youtube"></i></a></li><li>
					<a href="#" class="pinterest"><i class="zmdi zmdi-pinterest-box"></i></a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-6 clearfix">
				<h5>WHAT YOU WANT</h5>
				<div class="footer-item clearfix">
					<img src="http://placehold.it/70x70" alt="Bike" class="pull-left">
					<a href="#">Top Bike</a>
					<p class="price">$200.00</p>
					<a href="#"></a>
				</div>
				<div class="footer-item clearfix">
					<img src="http://placehold.it/70x70" alt="Bike" class="pull-left">
					<a href="#">Cotto Bike</a>
					<p class="price">$250.00</p>
					<a href="#"></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 businesshours clearfix">
				<h5>BUSINESS HOURS</h5>
				<p>Monday to Friday:</p>
				<span>9:00 Am to 9:00 Pm</span>
				<p>Saturday:</p>
				<span>9:00 Am to 5:00 Pm</span>
				<p>Vacation:</p>
				<span>All Sundays<br>All Official Holidays</span>
			</div>
			<div class="col-md-3 col-sm-6 contact clearfix">
				<p class="footer-phone">
					<i class="zmdi zmdi-phone"></i>0123 456 789 - 567 899 999
				</p>
				<p class="footer-mail">
					<i class="zmdi zmdi-email"></i>hamzajg@gmail.com
				</p>
				<a href="#">
					<img src="http://placehold.it/264x104" alt="map" class="resp-img">
				</a>
			</div>
		</div>
	</div>

	<div id="botbar">
		<p class="text-center">
			Copyright 2017 Hamza JGUERIM. All rights Reserved.
		</p>
	</div>

</footer>
