
<header>
	<div id="topbar">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-right">
						<div class="login">
							<i class="zmdi zmdi-account"></i>
							<a href="#!/login">Login</a>
						</div>
						<div class="lang pos-r toggler">
							<a href="#">
								<img src="http://placehold.it/14x11" alt="flag">
								<i class="zmdi zmdi-chevron-down"></i>
							</a>
							<ul class="toggled">
								<li class="active"><a href="#"><img src="http://placehold.it/14x11" alt="flag">English</a></li>
								<li><a href="#"><img src="http://placehold.it/14x11" alt="flag">Français</a></li>
								<li><a href="#"><img src="http://placehold.it/14x11" alt="flag">Español</a></li>
								<li><a href="#"><img src="http://placehold.it/14x11" alt="flag">Italiano</a></li>
							</ul>
						</div>
						<div class="currency toggler">
							<a href="#">
								<span>&dollar;</span>
								<i class="zmdi zmdi-chevron-down"></i>
							</a>
							<ul class="toggled">
								<li class="active"><a href="#">Dollar (USD)</a></li>
								<li><a href="#">Euro (EUR)</a></li>
							</ul>
						</div>
					</div>
					<div class="top-contact">
						<span><i class="zmdi zmdi-phone"></i></span>
						<p class="tel">Telephone: 0123 456 789</p>
						<p class="mail">Email: Fieldthemes@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="menubar" class="container">
		<div class="menubar-tools pull-right">
			<div class="search">
				<a href="#"><i class="zmdi zmdi-search"></i></a>
			</div>
			<div class="cart">
				<a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
			</div>
		</div>
		<div class="logo pull-left">
			<a href="#">
				<img src="http://placehold.it/119x26" alt="Logo">
			</a>
			<p>Premium Bike Store</p>
		</div>
		<nav class="navigation text-center">
			<ul>
				<li>
					<a href="#">HOME <i class="zmdi zmdi-chevron-down"></i></a>
					<div class="submenu menu-custom">
						<div class="container">
							<div class="row">
								<ul>
									<li><a href="index1.html">Homepage 1</a></li>
									<li><a href="index2.html">Homepage 2</a></li>
									<li><a href="index3.html">Homepage 3</a></li>
									<li><a href="index4.html">Homepage 4</a></li>
									<li><a href="list.html">Browse List</a></li>
									<li><a href="grid.html">Browse Grid</a></li>
									<li><a href="detail.html">Product Detail</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="blog-browse.html">Blog browse</a></li>
									<li><a href="blog-single.html">Blog Single page</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li><a href="#">PORTFOLIO <i class="zmdi zmdi-chevron-down"></i></a></li>
				<li>
					<a href="#">CUSTOM <i class="zmdi zmdi-chevron-down"></i></a>
					<div class="submenu menu-custom">
						<div class="container">
							<div class="row">
								<div class="col-sm-4">
									<img src="http://placehold.it/170x170" alt="menu image" class="resp-img">
									<a href="#">SALE UP TO 30%</a>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								</div>
								<div class="col-sm-4">
									<img src="http://placehold.it/170x170" alt="menu image" class="resp-img">
									<a href="#">SALE UP TO 30%</a>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								</div>
								<div class="col-sm-4">
									<img src="http://placehold.it/170x170" alt="menu image" class="resp-img">
									<a href="#">SALE UP TO 30%</a>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#">FEATURES <i class="zmdi zmdi-chevron-down"></i></a>
					<div class="submenu menu-features">
						<div class="container">
							<div class="row">
								<div class="col-sm-6">
									<div class="border-helper">
										<h6>PAGE SHOP</h6>
									</div>
									<ul>
										<li><a href="#">Category</a></li>
										<li><a href="#">My Account</a></li>
										<li><a href="#">Cart</a></li>
										<li><a href="#">Wishlist</a></li>
										<li><a href="#">Checkout</a></li>
									</ul>
								</div>
								<div class="col-sm-6">
									<div class="border-helper">
										<h6>PRODUCT TYPES</h6>
									</div>
									<ul>
										<li><a href="#">Simple</a></li>
										<li><a href="#">Virtual Product</a></li>
										<li><a href="#">Download Product</a></li>
										<li><a href="#">Grouped</a></li>
										<li><a href="#">Affiliate Product</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<a href="#">SHOP <i class="zmdi zmdi-chevron-down"></i></a>
					<div class="submenu menu-shop">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-4">
									<div class="border-helper">
										<h6>MEN'S BIKE</h6>
									</div>
									<ul>
										<li><a href="#">Top Product</a></li>
										<li><a href="#">List</a></li>
										<li><a href="#">New Product</a></li>
									</ul>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="border-helper">
										<h6>WOMEN'S BIKE</h6>
									</div>
									<ul>
										<li><a href="#">Sale Product</a></li>
										<li><a href="#">New Product</a></li>
										<li><a href="#">Best Selling</a></li>
									</ul>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="border-helper">
										<h6>KID'S BIKE</h6>
									</div>
									<ul>
										<li><a href="#">Sale Product</a></li>
										<li><a href="#">New Product</a></li>
										<li><a href="#">Best Selling</a></li>
									</ul>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="border-helper">
										<h6>ACCESSORIES</h6>
									</div>
									<ul>
										<li><a href="#">Sale Product</a></li>
										<li><a href="#">New Product</a></li>
										<li><a href="#">Best Selling</a></li>
									</ul>
								</div>
								<div class="col-xs-6">
									<img src="http://placehold.it/285x120" alt="image" class="resp-img">
								</div>
								<div class="col-xs-6">
									<img src="http://placehold.it/285x120" alt="image" class="resp-img">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li><a href="#">BLOG</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul>
		</nav>
	</div>
	<div id="slider" class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12">
				<ul class="rslides-top">
					<li>
						<div class="banner">
							<div class="inner-banner">
								<h2>NEW ARRIVAL</h2>
								<p>- INSPIRATION -</p>
								<p>
									Vivamus lacinia urna lorem, eget laoreet mauris lobortis quis. Aliquam aliquet nec tempor a,
									dapibus vitae nunc. Maecenas vitae purus sem quis, varius tortor.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="banner">
							<div class="inner-banner">
								<h2>NEW COLLECTION</h2>
								<p>- UP TO 50% OFF -</p>
								<p>
									Vivamus lacinia urna lorem, eget laoreet mauris lobortis quis. Aliquam aliquet nec tempor a,
									dapibus vitae nunc. Maecenas vitae purus sem quis, varius tortor.
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="banner">
							<div class="inner-banner">
								<h2>NEW STYLE 2017</h2>
								<p>- INSPIRATION -</p>
								<p>
									Vivamus lacinia urna lorem, eget laoreet mauris lobortis quis. Aliquam aliquet nec tempor a,
									dapibus vitae nunc. Maecenas vitae purus sem quis, varius tortor.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 sidebanners">
				<a href="#"><img src="http://placehold.it/270x235" class="resp-img" alt="banner"></a>
			</div>
			<div class="col-lg-3 col-md-6 sidebanners">
				<a href="#"><img src="http://placehold.it/270x235" class="resp-img" alt="banner"></a>
			</div>
		</div>
	</div>
</header>
