
<main>
<div class="container featured-products">
	<div class="heading">
		<h3>FEATURED PRODUCTS</h3>
		<div class="horizontal-ruler">
		</div>
		<span> <a href="#">Men</a>  /  <a href="#">Women</a>  /  <a href="#">Kids</a>  /  <a href="#">Accessories</a> </span>
	</div>
	<div class="row">
		<div class="slick-featured">
			<div class="slick-item">
				<div class="product">
					<div class="image-container">
						<span class="sale">SALE</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">View</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Ther products name demo</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$200.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<span class="hot">HOT</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Special Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$250.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<span class="hot">HOT</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Special Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$250.00</p>
				</div>
			</div>
			<div class="slick-item">
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">New Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$210.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Green Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$200.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Green Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$200.00</p>
				</div>
			</div>
			<div class="slick-item">
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Black Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$220.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Blue Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$210.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Blue Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$210.00</p>
				</div>
			</div>
			<div class="slick-item">
				<div class="product">
					<div class="image-container">
						<span class="hot">HOT</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Black Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$200.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<span class="sale">SALE</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">New Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$240.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<span class="sale">SALE</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">New Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$240.00</p>
				</div>
			</div>
			<div class="slick-item">
				<div class="product">
					<div class="image-container">
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Blue Bike</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$210.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<span class="hot">HOT</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Black Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$200.00</p>
				</div>
				<div class="product">
					<div class="image-container">
						<span class="hot">HOT</span>
						<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
						<ul class="controls">
							<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
							<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
						</ul>
					</div>
					<a href="#">Black Cotto</a>
					<span class="starrating">
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half star-on"></i>
						<i class="zmdi zmdi-star-half"></i>
					</span>
					<span> ( 2 reviews ) </span>
					<br>
					<p class="price">$200.00</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container bigsale">
	<img src="http://placehold.it/1170x160" alt="Big Sale" class="resp-img">
</div>

<div class="container featured-products">
	<div class="heading">
		<h3>NEW PRODUCTS</h3>
		<div class="horizontal-ruler">
		</div>
	</div>
	<div class="row">
		<div class="slick-featured">
			<div class="product">
				<div class="image-container">
					<span class="sale">SALE</span>
					<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
					<ul class="controls">
						<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
					</ul>
				</div>
				<a href="#">Orange Bike</a>
				<span class="starrating">
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half"></i>
				</span>
				<span> ( 2 reviews ) </span>
				<br>
				<p class="price">$200.00</p>
			</div>
			<div class="product">
				<div class="image-container">
					<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
					<ul class="controls">
						<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
					</ul>
				</div>
				<a href="#">White Bike</a>
				<span class="starrating">
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half"></i>
				</span>
				<span> ( 2 reviews ) </span>
				<br>
				<p class="price">$210.00</p>
			</div>
			<div class="product">
				<div class="image-container">
					<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
					<ul class="controls">
						<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
					</ul>
				</div>
				<a href="#">Black Cotto</a>
				<span class="starrating">
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half"></i>
				</span>
				<span> ( 2 reviews ) </span>
				<br>
				<p class="price">$220.00</p>
			</div>
			<div class="product">
				<div class="image-container">
					<span class="hot">HOT</span>
					<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
					<ul class="controls">
						<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
					</ul>
				</div>
				<a href="#">New Cotto</a>
				<span class="starrating">
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half"></i>
				</span>
				<span> ( 2 reviews ) </span>
				<br>
				<p class="price">$250.00</p>
			</div>
			<div class="product">
				<div class="image-container">
					<img src="http://placehold.it/270x270" alt="Product" class="resp-img">
					<ul class="controls">
						<li class="with-tooltip"><span class="tooltiptext">Add To Cart</span><a href="#"><i class="zmdi zmdi-shopping-cart zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Add To Wishlist</span><a href="#"><i class="zmdi zmdi-favorite zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Compare</span><a href="#"><i class="zmdi zmdi-repeat zmdi-hc-lg"></i></a></li>
						<li class="with-tooltip"><span class="tooltiptext">Search</span><a href="#"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a></li>
					</ul>
				</div>
				<a href="#">White Bike</a>
				<span class="starrating">
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half star-on"></i>
					<i class="zmdi zmdi-star-half"></i>
				</span>
				<span> ( 2 reviews ) </span>
				<br>
				<p class="price">$210.00</p>
			</div>
		</div>
	</div>
</div>

<div class="container gallery">
	<div class="row no-gutter">
		<div class="col-md-6">
			<a href="#"></a><img src="http://placehold.it/585x580" alt="Image" class="resp-img">
		</div>
		<div class="col-md-6">
			<div class="row no-gutter">
				<div class="col-xs-6 text-center">
					<p>NEW ARRIVAL</p>
					<h6>STYLE FOR WOMEN</h6>
					<p class="abs">Lorem ipsum dolor sit amet, consec- tetuer adipiscing elit.</p>
					<a href="#" class="shopnow">SHOP NOW!</a>
				</div>
				<div class="col-sm-6">
					<a href="#"></a><img src="http://placehold.it/292x290" alt="Image" class="resp-img">
				</div>
			</div>
			<div class="row no-gutter">
				<div class="col-sm-6">
					<a href="#"></a><img src="http://placehold.it/293x290" alt="Image" class="resp-img">
				</div>
				<div class="col-sm-6 text-center">
					<h5>SALE 50%</h5>
					<p class="leadingbrand"><span class="start">L</span>EADING BRAN<span class="end">D</span></p>
					<a href="#" class="shopnow">SHOP NOW!</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="testimonials container">
	<h4 class="text-center">WHAT CLIENTS SAY?</h4>
	<div class="slick-people">
		<img src="http://placehold.it/190x190" alt="Avatar" class="img-circle">
		<img src="http://placehold.it/190x190" alt="Avatar" class="img-circle">
		<img src="http://placehold.it/190x190" alt="Avatar" class="img-circle">
	</div>
	<div class="slick-sayings text-center">
		<div class="saying">
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
				Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede ...
			</p>
			<h6>JANE DOE</h6>
			<span>ONLINE MARKETER</span>
		</div>
		<div class="saying">
			<p>
				Aliquam quis risus viverra, ornare ipsum vitae, congue tellus. Vestibulum nunc lorem, scelerisque a tristique non, accumsan
				ornare eros. Nullam sapien metus, volutpat dictum. Praesent tellus felis, aliquet id augue at, tincidunt vestibulum leo.
			</p>
			<h6>ROBERT CARLOS</h6>
			<span>CEO OF FIELDTHEMES.COM</span>
		</div>
		<div class="saying">
			<p>
				This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit.Lorem ipsum dolor sit amet, consectetur
				adipiscing elit. In molestie augue magna. Pellentesque felis lorem, pulvinar sed eros non, sagittis consequat urna.
			</p>
			<h6>JOHN DOE</h6>
			<span>STYLISH MANAGER</span>
		</div>
	</div>
</div>

<div class="container blog">
	<div class="heading">
		<h3>RECENT BLOG &amp; NEWS</h3>
		<div class="horizontal-ruler">
		</div>
	</div>
	<div class="row">
		<div class="slick-blog">
			<div class="blog-item">
				<div class="img-container">
					<span class="date"><span class="day">10</span><span class="month">MAY</span></span>
					<img src="http://placehold.it/370x230" alt="Blog image" class="resp-img">
				</div>
				<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
				<p class="details">
					<span class="likes"><i class="zmdi zmdi-thumb-up"></i> (2) Likes </span>
					<span class="comments"><i class="zmdi zmdi-comments"></i> (5) Comments </span>
					<span class="views"><i class="zmdi zmdi-eye"></i> (100) Views </span>
				</p>
				<p class="abs">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
					Nullam malesuada erat ut turpis.
				</p>
				<a href="#">Read more</a>
			</div>
			<div class="blog-item">
				<div class="img-container">
					<span class="date"><span class="day">10</span><span class="month">MAY</span></span>
					<img src="http://placehold.it/370x230" alt="Blog image" class="resp-img">
				</div>
				<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
				<p class="details">
					<span class="likes"><i class="zmdi zmdi-thumb-up"></i> (2) Likes </span>
					<span class="comments"><i class="zmdi zmdi-comments"></i> (5) Comments </span>
					<span class="views"><i class="zmdi zmdi-eye"></i> (100) Views </span>
				</p>
				<p class="abs">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
					Nullam malesuada erat ut turpis.
				</p>
				<a href="#">Read more</a>
			</div>
			<div class="blog-item">
				<div class="img-container">
					<span class="date"><span class="day">10</span><span class="month">MAY</span></span>
					<img src="http://placehold.it/370x230" alt="Blog image" class="resp-img">
				</div>
				<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
				<p class="details">
					<span class="likes"><i class="zmdi zmdi-thumb-up"></i> (2) Likes </span>
					<span class="comments"><i class="zmdi zmdi-comments"></i> (5) Comments </span>
					<span class="views"><i class="zmdi zmdi-eye"></i> (100) Views </span>
				</p>
				<p class="abs">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
					Nullam malesuada erat ut turpis.
				</p>
				<a href="#">Read more</a>
			</div>
			<div class="blog-item">
				<div class="img-container">
					<span class="date"><span>10</span>MAY</span>
					<img src="http://placehold.it/370x230" alt="Blog image" class="resp-img">
				</div>
				<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
				<p class="details">
					<span class="likes"><i class="zmdi zmdi-thumb-up"></i> (2) Likes </span>
					<span class="comments"><i class="zmdi zmdi-comments"></i> (5) Comments </span>
					<span class="views"><i class="zmdi zmdi-eye"></i> (100) Views </span>
				</p>
				<p class="abs">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
					Nullam malesuada erat ut turpis.
				</p>
				<a href="#">Read more</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="partners-border">
		<div class="partners-slick text-center">
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
			<a href="#"><img src="http://placehold.it/141x29" alt="Partner"></a>
		</div>
	</div>
</div>
</main>
