
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="zmdi zmdi-card-giftcard"></i><span>Article</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/ui/typography"><i class="fa fa-circle"></i>New Article Type</a></li>
                <li><a md-button aria-label="meanu" href="#/article/newArticle"><i class="fa fa-circle"></i>New Article</a></li>
                <li><a md-button aria-label="meanu" href="#/ui/typography"><i class="fa fa-circle"></i>List Article Type</a></li>
                <li><a md-button aria-label="meanu" href="#/article/listArticle"><i class="fa fa-circle"></i>List Article</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/page"><i class="zmdi zmdi-pages"></i>Product</span></a>
            <ul>
                <li><a md-button aria-label="meanu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i>New Product Categorie</a></li>
                <li><a md-button aria-label="meanu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i>New Product</a></li>
                <li><a md-button aria-label="meanu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i>New Promos</a></li>
                <li><a md-button aria-label="meanu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i>List Product Categorie</a></li>
                <li><a md-button aria-label="meanu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i>List Product</a></li>
                <li><a md-button aria-label="meanu" target="_blank" href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i class="fa fa-circle"></i>List Promot</a></li>

            </ul>
        </li>

        <li>
            <a md-button aria-label="meanu" href="#/table"><i class="zmdi zmdi-view-list"></i>Sale</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/table/static"><i class="fa fa-circle"></i>New Sale</a></li>
                <li><a md-button aria-label="meanu" href="#/table/responsive"><i class="fa fa-circle"></i>List Sale</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/table"><i class="zmdi zmdi-view-list"></i>Equipment</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/table/static"><i class="fa fa-circle"></i>New Equipment Type</a></li>
                <li><a md-button aria-label="meanu" href="#/table/static"><i class="fa fa-circle"></i>New Equipment</a></li>
                <li><a md-button aria-label="meanu" href="#/table/responsive"><i class="fa fa-circle"></i>List Equipment</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/form"><i class="zmdi zmdi-edit"></i>Customer</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/form/elements"><i class="fa fa-circle"></i>New Customer</a></li>
                <li><a md-button aria-label="meanu" href="#/form/validation"><i class="fa fa-circle"></i>List Customer</a></li>
                <li><a md-button aria-label="meanu" href="#/form/wizard"><i class="fa fa-circle"></i>New Loyalty Card</li>
                <li><a md-button aria-label="meanu" href="#/form/layouts"><i class="fa fa-circle"></i>List Loyalty Card</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/chart"><i class="zmdi zmdi-chart"></i>Provider</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-line"><i class="fa fa-circle"></i>New Provider</a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-bar"><i class="fa fa-circle"></i>List Provider</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/chart"><i class="zmdi zmdi-chart"></i>Inventary</a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-line"><i class="fa fa-circle"></i>New Inventary Entry</a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-line"><i class="fa fa-circle"></i>List Inventary Entry</a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-bar"><i class="fa fa-circle"></i>Inventary Status</a></li>
            </ul>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-title"> <span data-translate="FEATURES"></span> </li>
        <li class="li-small"><a href="#/ui/components"><i class="fa fa-circle color-info"></i> <span data-translate="MATERIAL_COMPO"></span></a></li>
        <li class="li-small"><a href="#/form/elements"><i class="fa fa-circle color-success"></i> <span data-translate="MATERIAL_ELEMENTS"></span></a></li>
        <li class="li-small"><a href="#/ui/icons"><i class="fa fa-circle color-danger"></i> <span data-translate="MATERIAL_ICONS"></span></a></li>
    </ul>
</div>
